<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>my feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>welcome to bitt3r.</h1>
    <h2>tired of those other social media sites that are clogged with old people and 'friends' that you hate?
        then bitt3r was made just for you.</h2>
    <%= link_to "get bitt3r", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>