<% provide(:title, 'sign in') %>
<h1>sign in</h1>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <%= form_for(:session, url: sessions_path) do |f| %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
    
      <%= f.label :password %>
      <%= f.password_field :password %>
    
      <%= f.submit "sign in", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p>new user? <%= link_to "sign up now", signup_path %> and get bitt3r.</p>
  </div>
</div>