<!DOCTYPE html>
<html>
<head> 
  <!-- Added for mobile -->
  <meta charset="utf:8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- End mobile -->
  
  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <main role="main">
    <div class="container">
      <% flash.each do |key, value | %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
  </main>
  <%= render 'layouts/footer' %>
  </div><!-- /.container -->
  <!--[if !(lte IE 8)]><!--> 
   <script type="text/javascript"> 
     (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
   </script>
<!--<![endif]-->
</body>
</html>
